vllm
pydantic
llama-index
llama-index-embeddings-huggingface
qdrant-client
llama-index-vector-stores-qdrant
pymupdf
sentence-transformers
langgraph
pytest
langchain-core>=0.3.0
ipython
a2a-sdk[http-server]>=0.3.0,<1.0.0
uvicorn
pytest-asyncio
# Dowload CUDA-enabled "torch" like so
# pip install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu128